---
layout: base
---

<body {% if page.page_class %}class="{{ page.page_class }}"{% endif %}>
  <a class="sr-only" href="#main-content">Skip to main content</a>
  {% include navigation.html %}

  <!-- the id is used exclusively for easy access by assistive technology -->
  <main class="container standard-page" id="main-content">
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-2 col-lg-2">
        <h3>Contents</h3>
        <ul>
          <li>Overview</li>
          <li>Getting Started</li>
          <li>Developers Guide</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        {{ content }}        
      </div>
    </div>
  </main>
  
  {% include site-footer.html %}
  
  {% include javascript-includes.html %}
</body>
